* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0f172a, #1e293b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    width: 900px;
    height: 550px;
    background: #111827;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
}

.left-section {
    width: 50%;
    background: #1e3a8a;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.left-section p {
    margin-bottom: 30px;
    line-height: 1.6;
}

.left-section img {
    width: 220px;
    align-self: center;
}

.right-section {
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-section h2 {
    margin-bottom: 30px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input,
select {
    padding: 14px;
    margin-bottom: 18px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
}

button {
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1d4ed8;
}
